<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

  <servers>
    <server>
      <id>nexus-snapshots</id>
      <username>maven_user</username>
      <password>123456</password>
    </server>
    <server>
      <id>nexus-releases</id>
      <username>maven_user</username>
      <password>123456</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>central</id>
      <name>central</name>
      <url>http://10.161.0.233:8081/repository/maven-all/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>

</settings>